{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": [
        "./eslint/es5.js",
        "./eslint/es2015.js",
        "./eslint/react.js"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "root": true
}
