doctype html
html(lang="en")
    head
        title= 'Campanella McDonald Tax Calculator'
        link(rel='icon', href='favicon.ico', type='image/x-icon')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300', type='text/css')
    body
        #tax-calculator-app
        script(src='cmllp-tax-calculator-client.js')
